{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Smart Internship Hub</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav>
    <h2>Smart Internship Hub</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register/">Register</a></li>
        <li><a href="/login/">Login</a></li>
        <li><a href="/internships/">Internships</a></li>
        <li><a href="/applications/">Applications</a></li>
    </ul>
</nav>

<section class="hero">

    <div class="hero-content">

        <h1>Find Your Dream Internship</h1>

        <p>
            Explore opportunities in AI & Machine Learning,
            Software Development, Data Science, Healthcare,
            Electronics, Business Analytics and more.
        </p>

        <a href="/register/">
            <button>Get Started</button>
        </a>

    </div>

</section>

<section class="stats">

    <div class="stat-card">
        <h2>500+</h2>
        <p>Students Registered</p>
    </div>

    <div class="stat-card">
        <h2>100+</h2>
        <p>Internships Available</p>
    </div>

    <div class="stat-card">
        <h2>50+</h2>
        <p>Partner Companies</p>
    </div>

</section>

<footer>
    <h3>Smart Internship Hub</h3>

    <p>Email : support@internshiphub.com</p>

    <p>Phone : +91 9876543210</p>

    <p>Thank You For Visiting</p>
</footer>

</body>
</html>